@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0c0a09;
  --foreground: #fafaf9;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background-color: rgba(245, 158, 11, 0.3);
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #44403c #1c1917;
}
